<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Use the title from a page's frontmatter if it has one -->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/logoBleu.png' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta content="<%= current_page.data.description %>" name="description" />
    <title><%= current_page.data.title %></title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
    .mySlides {display:none;}
    </style>
  </head>
  <body>
    <div class="row">
      <div class="col-xs-12">
        <%= partial "navbar" %>
      </div>
    </div>
    <%= yield %>
    <%= partial "footer" %>
    <script type="text/javascript" id="cookieinfo"
      src="//cookieinfoscript.com/js/cookieinfo.min.js"
      data-message="En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de Cookies pour analyser l'audience sur notre site et vous proposer des services plus adaptés à vos centre d'interêts."
      data-linkmsg="plus d'informations"
      data-bg="#172A3A"
      data-fg="#FFFFFF"
      data-link="#b60414"
      data-cookie="CookieInfoScript"
      data-text-align="left"
           data-close-text="J'accepte">

    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121187615-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121187615-1');
    </script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script>
      let counter = 0;
      const carousselItems = document.querySelectorAll('.js-caroussel');
      setInterval(function(){
        if (counter >= carousselItems.length - 1) {
          counter = 0;
        } else {
          counter++;
        }
        for (let i = 0; i < carousselItems.length; i++) {
          if (carousselItems[i] != carousselItems[counter]) {
            carousselItems[i].classList.remove('is-visible');
          }
        }
        carousselItems[counter].classList.add('is-visible');
      }, 5000);

      let cookie = document.querySelectorAll('.cookieinfo span')
      console.log(cookie)
    </script>
  </body>
</html>
