<div class="navbar-wagon">
  <!-- Logo -->
  <a href="index.html" class="navbar-wagon-brand">
    <img src="images/logoBlanc.svg" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="dropdown">
      <a id="dLabel" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="navbar-wagon-item navbar-wagon-link">
        Activités
        <span class="caret"></span>
      </a>

      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="index.html#analyse">Analyse des risques</a></li>
        <li><a href="index.html#ingenierie">Ingénierie conseil</a></li>
        <li><a href="index.html#securite">Sécurité systèmes informations</a></li>
        <li><a href="index.html#innovation">Innovation R&D</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <a id="dLabel" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="navbar-wagon-item navbar-wagon-link">
        Produits
        <span class="caret"></span>
      </a>

      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><%= link_to "Atalaïa", "produit.html#atalaia"%></li>
        <li><%= link_to "CPL", "produit.html#cpl" %></li>
        <li><%= link_to "Vidéo Surveillance", "produit.html#video" %></li>
      </ul>
    </div>

    <div class="dropdown">
      <a id="dLabel" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="navbar-wagon-item navbar-wagon-link">
        Références
        <span class="caret"></span>
      </a>

      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><%= link_to "Clients références", "references.html"%></li>
        <li><%= link_to "Chiffres", "references.html#chiffres"%></li>
        <li><%= link_to "Analyse des risques", "references.html#analyse-risque"%></li>
      </ul>
    </div>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Activités</a></li>
          <li><a href="#">Produits</a></li>
          <li><a href="#">Projets références</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" style="color: white;"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Activités</a></li>
        <li><a href="#">Produits</a></li>
        <li><a href="#">Projets références</a></li>
      </ul>
    </div>
  </div>
</div>
